<!-- all api results(rdio::song objects) -->
<div class="container">
  <div class="row">
    <h1 id="results_title">Results</h1>
    <hr>
    <div class="col-md-2 well sidebar-well">
      <p><%=link_to "Go back home", root_path%></p>
      <p><%=link_to "search again", root_path%></p>
      <p><%=link_to "my collection", songs_path%></p>
      <p><%=link_to "top songs", ""%></p>
      <p><%=link_to "top artists", ""%></p>
      <p><%=link_to "top albums", ""%></p>
    </div>
    <div class="col-md-10">
      <div class="row">
        <%if @result.present? %>
          <%@result.each do |x|%>
            <div class="col-md-3">
              <div class="thumbnail"><%=image_tag x.artwork %>
                <div class="caption">
                  <p id="songinfo"><%=x.name%></p>
                  <p id="songinfo"><%=x.artist%></p>
                  <p id="songinfo">Other info:</p>
                  <p id="songinfo">albumname:<%=x.songalbum%></p>
                  <p id="songinfo">Songid:<%=x.songid%></p>
                  <p id="songinfo">artistid:<%=x.artistid%></p>
                  <p id="songinfo">albumid:<%=x.albumid%></p>
                  <%=link_to "Add this Song to my Collection", 
                  songs_path(:name => x.name, :artist => x.artist, 
                  :artwork => x.artwork, :songalbum => x.songalbum,
                  :songid => x.songid, :artistid => x.artistid,
                  :albumid => x.albumid), method: :post%>
                </div>
              </div>
            </div>
        <%end%>
        <%else%>
          <%="Sorry, no results matched that search"%>
        <%end%>
      </div>
    </div>
  </div>
</div>




